body{
    margin:0;
    padding: 0;
}
.header{
    overflow: hidden;
    background-color:rgb(119, 174, 255);
    width: 80%;
    margin:auto;
    padding:15px;
    font-size: 18px;
}
.logo{
    float:left;
    color:white;
}
.menu{
    list-style: none;
    padding:0;
    margin:0;
    float:right;
}
li{
    display:inline-block;
    margin-left: 15px;
    color:white;
}
@media screen and (max-width: 600px) {
    .logo{
        float:none;
        text-align: center;
    }
    .menu{
        background-color: red;
        margin-top: 20px;
        float:none;
        text-align: center;
    }
    li{
        display:block;
        margin-bottom: 5px;
        padding: 15px;
    }
}