.menu{
    display:inline;
    border-top: 2px solid rgb(219, 212, 212);
    font-weight: 500;
}
a{
    color:rgb(83, 83, 83);
    border-width: 0 1px 1px;
    border-color: transparent;
    border-style: solid;
    padding-left: 2px;
    padding-right: 2px;
}
a:hover{
    color:red;
    border-top: 2px solid red;

}